{%extends "base.html" %} {%block content%}

    <div class="individualMovie">
    {% comment %} Movie information {% endcomment %}
    <div class= "informationMovie">
        <h1> Movie details </h1>
        <img src="https://image.tmdb.org/t/p/original{{ movie.img_path }}" width="300" height="250"> </img>
        <br> </br>
        <div class="movie-title-detail">
        <h2> {{movie.title}} </h2>
         </div>
        {{movie.release_date}}
        <br> </br>
        <div class="infomoviedescription">
        {{movie.description}} 
        </div>
                <br> </br>
       {% for studio in studio%}
            Studio: {{studio.name}} <br>
        {%endfor%}
        Duration: {{movie.duration}} <br>
        Budget: {{movie.budget}} <br>
        gross: {{movie.gross}} <br>
        {% if  movie.classification == true %}
        Movie is classification +18
        {% else %}
            <p>Movie is classification -18.</p>
        {% endif %}
       {% for genre in movie.genresfK.all%}
            {{genre.name}}
        {%endfor%}
    </div>
    {% comment %} Cast {% endcomment %}
    <div class="movieCR">
     <div class="movieCast">
        <div class="info-movie-text">
        <h1> Cast </h1>
        </div>
            {% for person in movie.credits.all %}
        <div class="fotoName"> 
        <a  href="{% url 'cast' person.id %}"> 
            <img src="https://image.tmdb.org/t/p/original{{ person.img_path }}" width="250" height="250"> </img>
          </a>
        {{person.name}}
        </div>
            {%endfor%}
        </div>
        <div class="movieReview">
        <h1> Review </h1>
        <div class="reviewSector"> 
        {% if reviews.all %}
            {% for review in reviews.all%}
               <div class="singleReview">
                User: {{review.userfK}}<br>
                {{review.review}} <br>
                Rating: {{review.rating}}<br>
                </div>
            {%endfor%}
        {% else %}
            <p>No Hay Reviews.</p>
        {% endif %}
        </div>
        </div>

        </div>
        <a  href="{% url 'NewReview' idDB=movie.tmdb_id userID=request.user.id %}"> 
            <button type="button">Add a Review</button>
        </a>

     </div>

    
{%endblock%}


