{%extends "base.html" %} {%block content%}

    <h1>{{movie.title}}</h1>


    <div class="individualMovie">
    {% comment %} Movie information {% endcomment %}
    <div class= "informationMovie">
        <h1> MovieInformation </h1>
        <img src="https://image.tmdb.org/t/p/original{{ movie.img_path }}" width="300" height="250"> </img>
        <br> </br>
        <h2> {{movie.title}} </h2>
         
        {{movie.release_date}}
        <br> </br>
        {{movie.description}}
        <br> </br>
       {% for genre in movie.genresfK.all%}
            {{genre.name}}
        {%endfor%}
    </div>
    {% comment %} Cast {% endcomment %}
    
    <div class="movieCR">
     <div class="movieCast">
        <h1> Cast </h1>
            {% for person in movie.credits.all %}
        <div class="fotoName"> 
        <a  href="{% url 'cast' movie.tmdb_id %}"> 
            <img src="https://image.tmdb.org/t/p/original{{ person.img_path }}" width="250" height="250"> </img>
          </a>
        {{person.name}}
        </div>
            {%endfor%}
        </div>

        <div class="movieReview">
        <h1> Review </h1>
        </div>
        </div>
     </div>


{%endblock%}
