/* The sidebar menu */

  .grandmain {
    display: flex;
    background-color: #111; /* Black */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    
  }
  .main {
    padding-left: 200px;
    color: white;
  }

  .main h1 {
    font-size: 20px;
  }
  /* Movie css part*/
  
  .allmovie {
    display: flex;
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    gap: 10px;
    color: white;
  }

  .individualMovieItem {
    width: 370px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .description {
    overflow-y: scroll;

  }
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-right: 20px;
    border: 20px white;
    
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }


  /* Movie Indivudal section */
  .individualMovie {
    background-color: white;
    width: 1300px;
    height: 600px;
    display: flex;
  }

  .informationMovie {
    background-color: red;
    width: 300px;
    height: auto;
  }

  .movieCR {
    display: flex;
    flex-direction: column;
    width: 1000px;
  }

  .movieCast {
    display: flex;
    padding-left: 10px;
    background-color: blue;
    height: 300px;
    overflow-x: scroll;
    gap: 10px;
  }
  
  .movieCast img {
    margin-top: 50px;
    width: 200px;
    height: 200px;
  }

  .movieReview {
    background-color: green;
    height: 300px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

