/* The sidebar menu */

  .grandmain {
    display: flex;
    background-color: #111; /* Black  111*/
    top: 0;
    right: 0;
    left: 0;
    /* bottom: 0; */
    position: absolute;
    overflow-y: hidden;
    
  }
  .main {
    padding-left: 200px;
    color: white;
  }

  .main h1 {
    font-size: 20px;
  }
  /* Movie css part*/
  
  .allmovie {
    display: flex;
    margin: 0;
    padding: 10;
    height: 810px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    gap: 10px;
    color: white;
  }

  .individualMovieItem {
    width: 370px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid white;
  }
 
  .description {
    overflow-y: scroll;

  }
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-right: 20px;
    border-right: 2px solid white;
    
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }


  /* Sección donde va la info de la pelicula, el cast y las reviews */
  .individualMovie {
    width: 1400px;
    height: 825px;
    display: flex;   
    bottom: 0;
    margin: 10px;
    background-color: red;
  }

  /* Pelicula individual */
  .informationMovie {
    background-color: #111;
    margin: 10px;
    width: 500px;
    height: auto;
    bottom: 0;
    overflow-y: visible;
    text-align: center;
    border: 2px solid white;
  }
  
  /* Imagen dentro de la información de las pelicula */
  .informationMovie img {
    padding: 10px;
  }

  /* Sección donde se envuelve la parte de cast y Review */
  .movieCR {
    display: flex;
    flex-direction: column;
    width: 1500px;
    margin: 10px;
  }

  /* Parte del MovieCast */
  .movieCast {
    display: flex;
    padding-left: 10px;
    background-color: #111;
    height: 325px;
    width: 1000px;
    overflow-x: scroll;
    gap: 10px;
    border: 2px solid white;
    text-align: center;
  }
  /* Imagen que se va repitiendo en la sección de cast */
  .movieCast img {
    margin-top: 50px;
    width: 200px;
    height: 200px;
  }
  /* Parte de la review   */
  .movieReview {
    margin-top: 10px;
    padding: 10px;
    background-color: #111;
    height: 450px;    
    border: 2px solid white;
  }

  .individualMovie button {
    /* margin-left: 900px;
    margin-top: 350px; */
    width: 150px;
    height: 150px;
    
  }

  .newReview {
    border: 2px solid white;
    width: 150px;
  }


  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

